
* {
  box-sizing: border-box;
}

#myInput,#myInput1{
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#page{
	height:50px;
}

#pages{
color: black;
margin:5px;
height:50px;
float:right;
line-height: 50px;
}
#pages li{

list-style-type:none;
display: inline-table;
}
#pages li button{
height: 30px;
width:80px;
}
#pages li input{
height: 30px;
width:80px;
text-align: center;
}
 #content #paging #rows li{
 list-style-type: none;
 }

#shows li{
list-style-type:none;
display: inline-table;
}
 